version: 1.0.{build}
image: Visual Studio 2017
clone_script:
- cmd: >-
    git clone -q --branch=%APPVEYOR_REPO_BRANCH% https://github.com/%APPVEYOR_REPO_NAME%.git %APPVEYOR_BUILD_FOLDER%

    cd %APPVEYOR_BUILD_FOLDER%

    git checkout -qf %APPVEYOR_REPO_COMMIT%

    git submodule update --init --recursive
environment:
  NugetKey:
    secure: EncryptedNugetKeyGoesHere
  CoverallRepoToken:
    secure: EncryptedCoverallsRepoTokenGoesHere
  BotToken:
    secure: EncryptedBotTokenGoesHere
build_script:
- ps: .\build.ps1 -branch $env:APPVEYOR_REPO_BRANCH -buildCounter $env:APPVEYOR_BUILD_NUMBER -gitHash $env:APPVEYOR_REPO_COMMIT -commitMessage $env:APPVEYOR_REPO_COMMIT_MESSAGE
test: off